/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
}

app-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99999;
}