<ul class="list-group">
    <li class="list-group-item list-group-item-info" (click)="agregarMarcador()">
        + Agregar
    </li>
    <li class="list-group-item" (click)="irMarcar(marcador.marker!)"
     *ngFor="let marcador of marcadores; let i = index" 
     [ngStyle]="{'background-color': marcador.color}"
     (dblclick)="borrarMarcador( i )">
        marker {{i+1}}
    </li>
</ul>

<div #mapa class="mapa-container"></div>